@import '~reset-css';

* {
  box-sizing: border-box;
}

body {
}

#main {
  margin: 200px auto 0;
  width: 500px;
  border: 1px solid #333;

  header {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    background-color: aqua;
  }


  .title {
    padding: 10px;
    //border: 1px solid #333333;
    &:active {
      border: 1px solid #ff1313;
    }

    &:focus {
      border: 1px solid #ff1313;
    }
  }

  .btn {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    border: none;
    transition: background-color 2ms ease-in-out;
    line-height: 16px;
  }

  .edit, .delete {
    margin-right: 15px;
    text-align: right;
    opacity: .2;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 1;
      background-color: #34ff62;
    }

    &:active {
      background-color: deeppink;
    }
  }

  #todo-list {
    margin: 10px 0;
   }

  .todo-item {
    //width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;

    &:hover {
      background-color: #f3f3f3;
    }

  }

  .completed {
    text-decoration: line-through;
    color: #ff1313;
  }

  .show {
    display: none;
  }

  #todo-form {
    background-color: #d0d0d0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #add-input {
    width: 100%;
    margin: 10px;
    font-size: 20px;
  }

  .add-button {
    padding: 7px 40px;
    border: 1px solid #333333;
    &:active {
      background-color: deeppink;
    }
  }
}